.detail{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 750px;
  flex-wrap: nowrap;
  flex-direction: column;
}
.bids{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 240px;
}

.offerButton{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

.bidbutton {
  height: 55px; 
    border-radius: 15px;
    background-color: #04435d;
    color: white;
    margin:15px  auto;
    width: 100%;
    border-color: #658d9e;
}

.bidbutton:hover{
  background-color: #658d9e;
  border-color: #04435d;
}

.bis {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}
