@import '~antd/dist/antd.css';

.carousel {
    width: 100%; 
    margin-top: 50px;
    max-width: 100%;
    
}

.imageDiv {
    position: relative;
    text-align: center;
    color: black;
}

.image{
    margin: 0 auto; 
    width: 100vw;
    object-fit: none;
   
}

.text {
    text-align: center;
    position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
    color: #04435d;
}