.contact{
    display: flex;
    flex-direction: column;
	flex-wrap: wrap-reverse;
}

.conactCards{

    justify-content: space-around;
    align-items: baseline;
    margin-bottom: 8vw;
    padding: 5%;
    padding-left: 10%;
}

.text{
	align-items: center;
	align-content: space-between;
    margin-top: -12vw;
    margin-left: 20%;
}

.btn{
    border: 1px solid black;
    color: #FFFFFF;
    padding: 2px 22px;
    border-radius: 15px;
    font-size: 12px;
    background-color: #658d9e;
    display: flex;
    justify-content: center;
}