.contactBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    justify-content:center;
    margin-top: 2vw;

}

.conactCards{
	flex-direction: column;
    justify-content: space-around;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0; 
    margin-right: 10%;
}

/* 
.text{
    display: flex;
	flex-direction: column;
	align-items: center;
	align-content: space-between;
    margin: auto;
    flex-shrink: 0;
}   */

.btn{
    border: 1px solid black;
    color: #FFFFFF;
    padding: 2px 22px;
    border-radius: 15px;
    font-size: 12px;
    background-color: #658d9e;
    display: flex;
    justify-content: center;
}