.containerX{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
    margin:7vw 5vw 7vw 5vw;

}

.cover{
    height: 900px;
    margin:5px;
}

.colX {
	margin-top: 25px;
}

h1 {
	text-align: center;
}
.containerU{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
    margin:7vw 5vw 7vw 5vw;

}

h2 {
	text-align: center;
}
.sellerArt {
	margin: 50px;
}