.containerX{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
margin:75px 55px 75px 55px;

}

.cover{
    height: 900px;
    margin:5px;
}

