.lettering{
    display: flex;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
}

.links{
    display: flex;
    margin-left: 2rem;
    font-size: 150%;
	justify-content: center;
	justify-content: space-around;
    flex-wrap: wrap;

}

.card{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    justify-content: center;
	justify-content: space-around;
    margin-top: 4%;


}

/*
.image{
	display: flex;
    margin: auto;
    width: 32%;
}

*/