.privateBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;  
    margin:2%
}

.text{
}

.paintings{
    
}