.title{
    display: flex;
    justify-content: center;
}
.ourface{
    display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.link{
    display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

}